{% extends "base.html" %}
	{% block title %}
		审批倒休取消
	{% endblock %}
	{% block content %}
		<h2>审批倒休取消</h2>
	{% if rollbacks|length != 0 %}
	    <p>有{{ rollbacks|length }} 申请.</p>
	    <fieldset class="approve_field">    
	   	<form action="" method="post">{% csrf_token %}	
	   		<table class="approve">
					<tr>
						<th class="name">申请人</th>
				    <th>申请日期</th>   
				    <th class="text">取消原因</th>
				    <th class="num">取消时长</th> 
				    <th class="num">审批结果</th>
				    <th class="check">审批</th>
				  </tr>
		   		{{ rollbacks.management_form }}
		   		{% for rollback in rollbacks %}
		   				{{ rollback.errors }}
		        	<tr {% if forloop.counter|divisibleby:2 %} class="odd"{% endif %}>
						    <td class="name">{{ rollback.apply_rollback }}</td>			
						    <!--因为申请日期是自动填写的，用django的formset
						    		处理时显示不出来，所以在未审批时用审批日期存储了申请日期  -->
						    <td>{{ rollback.date_approve }}</td>	 					    				    
						    <td class="text">{{ rollback.reason }}</td>	    
						    <td class="num">{{ rollback.days_apply }}</td>  	
						    <td class="num">{{ rollback.days_approve }}</td>
						    <td class="check">{{ rollback.approve_flag }}</td>
						  </tr>
		        	{{ rollback.id }}
		        	{{ rollback.approve_rollback }}	
					{% endfor %}	
							
					</table>
				<div>
					<input type="submit" value="提交" />
				</div>
				<br>
			</form>
			</fieldset>
				    
	{% else %}
	    <p>没有申请待审批</p>
	{% endif %}
	
	{% endblock %}